body {
  margin: 0;
  font-family: Arial, sans-serif; /* Utilisation d'une police plus générale pour une meilleure lisibilité */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, sans-serif; /* Utilisation d'une police plus générale pour une meilleure lisibilité */
}
