.results-list {
  background-color: rgb(9, 9, 9);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: scroll;
  color: black;
  list-style: circle;
}

.results-list a {
  color: white;
  text-decoration: none;
}

.results-list a {
  color: rgb(242, 238, 238);
  font-size: 1,2rem;
  text-decoration: none;
}

.results-list :hover {
  color: #e50914;
}

.results-list a:hover {
  color: #e50914;
  text-decoration: underline;
}

.results-list::-webkit-scrollbar {
  display: none;
}

input[type="text"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  transition: 0.4s ease;
}

input[type="text"]:focus {
  width: 150%;
  border-color: #e50914;
  outline: none;
}
